<!doctype html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
    <style>
        a {
            text-decoration: none;
            color: black;
        }

        a:visited, a:hover, a:focus, a:active {
            text-decoration: none;
        }
    </style>
</head>
<body>

<div th:replace="~{nav.html::navbar}"></div>

<div sec:authorize="isAuthenticated()">
    <a href="/logout">로그아웃</a>
</div>

<div class="card" th:each="i : ${items}">
    <img src="https://placehold.co/300" alt="Item Image">
    <div>
        <h4 th:text="${i.title}"></h4>
        <p th:text="${i.price}"></p>

        <a class="detail" th:href="@{'/detail/' + ${i.id}}">링크</a>
        <a class="modify" th:href="@{'/modify/' + ${i.id}}">수정</a>
        <button class="delete"
                th:onclick="fetch('/delete?id=[[${i.id}]]', {method : 'DELETE'})
                .then(r => r.text())
                .then(() => {
                    location.reload();
                })
                .catch(err => console.error('Error:', err))">삭제
        </button>
    </div>
</div>

</body>
</html>